html {
  font-family: Arial, sans-serif;
}

input[type="datetime-local"] {
  height: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

aside {
  width: 200px;
  float: left;
  text-align: center;
  #create-event {
    margin: 10px 0 0;
  }
}

#week-placeholder {
  margin-left: 200px;
}

.event {
  position: absolute;
  box-sizing: border-box;
  background-color: lightgreen;
  border: 1px solid black;
  padding: 3px 5px;
  font-size: 0.8rem;
  word-wrap: break-word;
  overflow: hidden;
  cursor: default;
  .time {
    font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap;
  }
}
.wrapper {
  width: 400px;
  position: relative;
}

.xdsoft_datetimepicker {
  transform: scale(0.75);
  margin-left: -22px;
}

.week {

}
table.grid-table {
  width: 100%;
  border-collapse: collapse;
  .day-captions {
      border: 1px solid rgba(0,0,0,0);
  }
  td {
    padding: 0;
  }
  thead tr td {
    text-align: center;
    font-weight: 400;
  }
  tbody {
    .hours-wrapper {
      position: relative;
      .hours {
        position: absolute;
        width: 100%;
        .hour-line {
          box-sizing: border-box;
          border: 1px solid lightgray;
          height: 42px;
          margin-bottom: -1px;
          .half {
            height: 21px;
            margin-bottom: 20px;
            border-bottom: 1px dotted lightgray;
          }
        }
      }
    }
    .hours-labels {
      width: 50px;
      margin-top: -1px;
      .hour-label {
        box-sizing: border-box;
        border: 1px solid lightgray;
        height: 42px;
        margin-bottom: -1px;
        margin-right: -1px;
        text-align: right;
        padding: 2px;
        font-size: 0.8rem;
      }
    }
    .day-col {
      border-left: 1px solid lightgrey;
      position: relative;
      .day {
        position: relative;
        margin-right: 10%;
      }
      .time-selector {
        background-color: rgba(0, 0, 255, 0.3);
        width: 100%;
        position: absolute;
      }
    }
  }
}

.modal .modal-footer .btn {
  margin: 6px 20px 6px 0;
}

#delete-event {
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}
#export-event {
  float: left;
  margin-left: 0;
}

.header {
  height: 60px;
  margin-left: 200px;
  .nav-block {
    float: left;
    margin-top: 10px;
    .week-number {

    }
  }
}

.long-wrapper {
  position: relative;
  margin-left: 50px;
  .long-events {
    position: relative;
    .long-event {
      position: absolute;
      box-sizing: border-box;
      background-color: lightgreen;
      border: 1px solid gray;
      margin: 2px;
      padding: 3px 5px;
      font-size: 0.8rem;
      line-height: .8;
      word-wrap: break-word;
      overflow: hidden;
      cursor: default;
    }
  }
}

.header-table {
  margin-bottom: 10px;
  tr.week-full {
    height: 20px;
    &:last-child {
      height: 10px;
    }
    .day-full {
      border: 1px solid lightgray;
      padding: 0;
      &.selected-day {
        background-color: rgba(0, 0, 255, 0.3);
      }
    }
  }
}
